In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv(r"C:\datasets\gaer box\b30hz0.csv")
df1['load']=0

In [3]:
df2=pd.read_csv(r"C:\datasets\gaer box\b30hz10.csv")
df2['load']=10

In [4]:
df3=pd.read_csv(r"C:\datasets\gaer box\b30hz20.csv")
df3['load']=20

In [5]:
df4=pd.read_csv(r"C:\datasets\gaer box\b30hz30.csv")
df4['load']=30

In [6]:
df5=pd.read_csv(r"C:\datasets\gaer box\b30hz40.csv")
df5['load']=40

In [7]:
df6=pd.read_csv(r"C:\datasets\gaer box\b30hz50.csv")
df6['load']=50

In [8]:
df7=pd.read_csv(r"C:\datasets\gaer box\b30hz60.csv")
df7['load']=60

In [9]:
df8=pd.read_csv(r"C:\datasets\gaer box\b30hz70.csv")
df8['load']=70

In [10]:
df9=pd.read_csv(r"C:\datasets\gaer box\b30hz80.csv")
df9['load']=80

In [11]:
df10=pd.read_csv(r"C:\datasets\gaer box\b30hz90.csv")
df10['load']=90

In [12]:
df1.shape[0],df2.shape[0],df3.shape[0],df4.shape[0],df5.shape[0],df6.shape[0],df7.shape[0],df8.shape[0],df9.shape[0],df10.shape[0]

(88320, 111616, 114432, 89856, 94464, 94208, 95488, 100864, 110335, 105728)

In [13]:
88320+111616+114432+89856+94464+94208+95488+100864+110335+105728

1005311

In [14]:
b1=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10])

In [15]:
b1.shape

(1005311, 5)

In [16]:
b1.head()

         a1        a2        a3        a4  load
0  2.350390  1.454870 -1.667080 -2.055610     0
1  2.452970  1.400100 -2.825100  0.984487     0
2 -0.241284 -0.267390  0.793540  0.605862     0
3  1.130270 -0.890918  0.696969  0.613068     0
4 -1.296140  0.980479 -1.130560 -0.346971     0

In [17]:
b1['state']='b'
b1.shape

(1005311, 6)

In [18]:
b1.head()

         a1        a2        a3        a4  load state
0  2.350390  1.454870 -1.667080 -2.055610     0     b
1  2.452970  1.400100 -2.825100  0.984487     0     b
2 -0.241284 -0.267390  0.793540  0.605862     0     b
3  1.130270 -0.890918  0.696969  0.613068     0     b
4 -1.296140  0.980479 -1.130560 -0.346971     0     b

In [19]:
df11=pd.read_csv(r"C:\datasets\gaer box\h30hz0.csv")
df11['load']=0

In [20]:
df12=pd.read_csv(r"C:\datasets\gaer box\h30hz10.csv")
df12['load']=10

In [21]:
df13=pd.read_csv(r"C:\datasets\gaer box\h30hz20.csv")
df13['load']=20

In [22]:
df14=pd.read_csv(r"C:\datasets\gaer box\h30hz30.csv")
df14['load']=30

In [23]:
df15=pd.read_csv(r"C:\datasets\gaer box\h30hz40.csv")
df15['load']=40

In [24]:
df16=pd.read_csv(r"C:\datasets\gaer box\h30hz50.csv")
df16['load']=50

In [25]:
df17=pd.read_csv(r"C:\datasets\gaer box\h30hz60.csv")
df17['load']=60

In [26]:
df18=pd.read_csv(r"C:\datasets\gaer box\h30hz70.csv")
df18['load']=70

In [27]:
df19=pd.read_csv(r"C:\datasets\gaer box\h30hz80.csv")
df19['load']=80

In [28]:
df20=pd.read_csv(r"C:\datasets\gaer box\h30hz90.csv")
df20['load']=90

In [29]:
df11.shape[0],df12.shape[0],df13.shape[0],df14.shape[0],df15.shape[0],df16.shape[0],df17.shape[0],df18.shape[0],df19.shape[0],df20.shape[0]

(88832, 92928, 108544, 106240, 100608, 110848, 99840, 101376, 99840, 106752)

In [30]:
88832+92928+108544+106240+100608+110848+99840+101376+99840+106752

1015808

In [67]:
h1=pd.concat([df11,df12,df13,df14,df15,df16,df17,df18,df19,df20])

In [68]:
h1['state']='h'
h1.shape

(1015808, 6)

In [66]:
df.tail()

               a1       a2       a3        a4  load state
106747   0.677448 -3.23441 -1.72599  -3.14302    90     h
106748 -10.575400  7.72540 -2.18401   2.56965    90     h
106749  -4.033290  2.57692  1.46843   2.72891    90     h
106750   1.868670 -5.08940  5.34229  -1.36563    90     h
106751   7.581480  6.20596 -6.12133  11.54830    90     h

In [71]:
df=pd.concat([h1,b1])

In [72]:
df.shape

(2031616, 6)

In [73]:
df.drop_duplicates(inplace=True)

In [74]:
df.shape

(1015808, 6)

In [65]:
df.sample(10)

              a1         a2        a3        a4  load state
95963   5.625170  -4.037420  0.545325  1.058100    80     h
75749  -2.154870  -2.007390  2.642950  2.795610    40     h
27234 -28.114000   2.430660 -3.334540 -8.453190    30     h
72971   0.071242   2.308260 -1.128090  2.755080    70     h
85056   8.902000   0.331709 -0.975257 -4.921800    80     h
84279  -1.879070   0.457072 -8.209190  5.163970     0     h
32991   5.886480   1.567730  0.694869  0.033027    50     h
86484   0.694819   0.154145 -0.071381  2.199140    80     h
58871  -1.894020 -12.437300  5.662290  0.037025    40     h
98543   3.026530   0.173869  1.851130 -3.089420    20     h

In [77]:
from sklearn import preprocessing 
  
# label_encoder object knows  
# how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
df['state']= label_encoder.fit_transform(df['state']) 
  
df['state'].unique()

array([0])

In [78]:
df.head()

         a1        a2        a3       a4  load  state
0  4.636710  0.516978 -3.205940  1.82241     0      0
1  1.992800  4.184660 -2.740610  2.80436     0      0
2 -3.764110  0.997335 -1.303090  1.83668     0      0
3 -4.558710  6.104330 -1.720690  1.72311     0      0
4  0.575382  0.170980 -0.497967 -1.32895     0      0

In [80]:
temp = df.drop(['load'],axis=1)

In [81]:
from sklearn.model_selection import train_test_split 
x = df.drop(['state'],axis=1) 
y = df[['state']]

In [82]:
x.head()

         a1        a2        a3       a4  load
0  4.636710  0.516978 -3.205940  1.82241     0
1  1.992800  4.184660 -2.740610  2.80436     0
2 -3.764110  0.997335 -1.303090  1.83668     0
3 -4.558710  6.104330 -1.720690  1.72311     0
4  0.575382  0.170980 -0.497967 -1.32895     0

In [92]:
y.head()

   state
0      0
1      0
2      0
3      0
4      0

In [83]:
x_train,x_test, y_train, y_test = train_test_split(x,y,random_state=104,test_size=0.25,shuffle=True)

In [84]:
from sklearn import linear_model

logr = linear_model.LinearRegression()
logr.fit(x_train,y_train)

LinearRegression()

In [85]:
y_predicted = logr.predict(x_test)

In [89]:
from sklearn.metrics import r2_score

In [90]:
r2 = r2_score(y_test,y_predicted)

In [95]:
r2*100

100.0